.letter {
  background-color: $color-gray-8;
  border-radius: $border-rounded-sm;
  font-weight: $font-bold;
  font-size: $font-md;
  color: white;
  cursor: pointer;

  &.letter-normal {
    min-width: 2.5rem;
    padding: 0.5rem;
  }

  &.letter-keyenter {
    width: 4rem;
    text-align: center;
    padding: 0.5rem;
  }

  &.letter-keyback {
    width: 4rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: #{map-get($breakpoints, xxs)}) {
  .letter {
    font-size: $font-xs;

    &.letter-normal {
      min-width: 1.8rem;
      padding: 0.4rem;
    }

    &.letter-keyenter {
      width: 2.8rem;
      padding: 0.4rem;
    }

    &.letter-keyback {
      width: 2.8rem;
      padding: 0.6rem 0.8rem;
    }
  }
}

@media (min-width: #{map-get($breakpoints, xs)}) {
  .letter {
    font-size: $font-xs;

    &.letter-normal {
      min-width: 2rem;
      padding: 0.5rem;
    }

    &.letter-keyenter {
      width: 3.2rem;
      padding: 0.5rem;
    }

    &.letter-keyback {
      width: 3.2rem;
      padding: 0.68rem 0.8rem;
    }
  }
}

@media (min-width: #{map-get($breakpoints, sm)}) {
  .letter {
    font-size: $font-md;

    &.letter-normal {
      min-width: 2.5rem;
      padding: 0.5rem;
    }

    &.letter-keyenter {
      width: 4rem;
      padding: 0.5rem;
    }

    &.letter-keyback {
      width: 4rem;
      padding: 0.75rem 1rem;
    }
  }
}
