.letter {
  background-color: $color-gray-8;
  border-radius: $border-rounded-sm;
  font-weight: $font-bold;
  font-size: $font-md;
  color: white;
  cursor: pointer;

  &.letter-normal {
    min-width: 2.5rem;
    padding: 0.5rem;
  }

  &.letter-keyenter,
  &.letter-keyback {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: #{map-get($breakpoints, xxs)}) {
  .letter {
    font-size: $font-sm;

    &.letter-normal {
      min-width: 1.75rem;
      padding: 0.3rem;
    }

    &.letter-keyenter,
    &.letter-keyback {
      padding: 0.3rem 0.6rem;
    }
  }
}

@media (min-width: #{map-get($breakpoints, xs)}) {
  .letter {
    font-size: $font-sm;

    &.letter-normal {
      min-width: 2rem;
      padding: 0.4rem;
    }

    &.letter-keyenter,
    &.letter-keyback {
      padding: 0.4rem 0.8rem;
    }
  }
}

@media (min-width: #{map-get($breakpoints, sm)}) {
  .letter {
    font-size: $font-md;

    &.letter-normal {
      min-width: 2.5rem;
      padding: 0.5rem;
    }
  
    &.letter-keyenter,
    &.letter-keyback {
      padding: 0.5rem 1rem;
    }
  }
}
