/*NOTE - Using unit height (Depends on browser navigation bar)
* vh: Standard viewport height
* dvh: Dynamic viewport height
* lvh: Maximum possible height
* svh: Minimum possible height
*/
.default-layout {
  height: 100dvh; // Dynamic viewport height
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
